listeners:
  - query_port: 25565
    motd: "&aServeur Proxy - Redirection automatique"
    servers:
      lobby:
        address: localhost:25566
        motd: "&bLobby principal"
        restricted: false
{{ servers_config }}